.redesnd/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
*.db
*.env
*.venv
venv/
env/
.idea/
.vscode/
.DS_Store
*.bak
*.tmp
*.swp
*.swo
*.zip
*.tar.gz
*.egg-info/
dist/
build/
*.pptx
*.jpg
*.png
*.pdf
*.mp4
*.avi
*.mov
*.mp3